.youtube-logo {
  height: 38px;
  margin-top: 5px;
  padding-right: 51px;
}

.container {
  width: 100%;
}

.header-left-div,
.header-right-div {
  display: flex;
  width: 33%;
}

.header-right-div {
  justify-content: flex-end
}

.header-center-div {
  display: flex;
}

.has-padding-input {
  padding: 5px;
}

.input-field {
  height: 32px;
  width: 575px;
  padding: 0px 0px 3px 11px;
  border-top: 1px solid lightgray;
  border-right: none;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-image: initial;
  font-size: 15.5px;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.search-btn {
  max-height: 32px;
  width: 65px;
}