.youtube-logo {
  height: 38px;
  margin-top: 5px;
  padding-right: 51px;
}

.container {
  width: 100%;
}

.header-left-div,
.header-right-div {
  display: flex;
  width: 33%;
}

.header-right-div {
  justify-content: flex-end
}

.header-center-div {
  display: flex;
}

.has-padding-input {
  padding: 5px;
}

.input-field {
  height: 32px;
  width: 575px;
  padding: 0px 0px 3px 11px;
  border-top: 1px solid lightgray;
  border-right: none;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-image: initial;
  font-size: 15.5px;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.search-btn {
  max-height: 32px;
  width: 65px;
}

main {
  padding-left: 100px !important
}

.filter {
  margin: 0px 0px 0px 8px;
  font-size: 14px;
  color: #949a9b;
  font-weight: 500;
}

.search-result {
  margin-left: 42px;
}

.thumbnail img {
  width: 246px;
  height: 138px;
}

p.title {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.4rem;
  height: 30px;
  color: black;
  margin-bottom: 2px;
}

.data {
  padding-left: 13px;
}

.vedio {
  display: flex;
}

.second-row {
  color: #12121299;
  margin-bottom: 2px !important;
}

.description {
  color: #12121299;
  margin-top: 2px;
  width: 60%;
}

p {
  font-size: 13px;
}